html{
    overflow: hidden;
}

#title-container{
    position: absolute;
    z-index: 1000;
    font-family: sans-serif;
    color: #8ac640;
    margin: 20px;
}
#title{
    position: relative;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}
#u-title{
    position: relative;
    font-size: 30px;   
    font-weight: 200;   
}

#legende{
    margin-top: 20px;
    position: absolute;
    background-image: url(legende.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 500px;
    z-index: 1000;
    left: 50px;
}


#cesiumContainer {
    height: 100vh;
}
